language: go

version: "1.14"

env:
  - GO111MODULE=on

script:
  - make travis
  - ls -l bin

deploy:
  provider: releases
  api_key:
    secure: PqRKsMp02TTnLoyoRitQQyxVxlJrqt5ir0TZNVeZ6JPIdgyWR51z7soCEogxjpltRXDQl0smrpB3qV/V6SD7HxaDctTk/hAx9wHJs+01ZQklNeRZ5ZdaAOsv3Hy6yDtCdULxa5kL4AZammsrbzGwSrkI9MvApzyamjyqVkorL+fCw6/XiPcQzCiQ3mZXaoDYVwx4689AevU1ZRPCWas3mU3SgZ0oIKDN3ts2Rln0W7QV+DpLF5H0071FJYnZL+t/zYahdCS9YYjSGHwmsaRtPt9/jYLigzwfe1CANNv83alDwuLC1YU/O6lw2Xnfy7D7uJNUU/BRZkWaxovhBiXwySZZLmbW2+wTFp+6E4TZlsNU0W7OOU622cFvewbgbCegInaWTg/9nDWrhJ2PrxwPluOMKWXhg5xAfWYR2hlk2TFZ4lc3HImXo+avx0aJ9gTergoJr5d7byPAM9uiuR5YbSDX5YsyvdmjGQZDmZ8UeeZ85GuhU/c/GDe6iB3v6BGrL2rg/mCs3VpAhBDc0ttPKvY0BKakI9L7s5mX45O7ZReeuATdcJYZAyrMQCtJCj5k+TsBZ1Lnd0sR4QuVyyEqqlekVKR802xHsQnxn4GChHbrekTgmp6yCcrvHmFL0rdMpQwqcZHi3fQfzXHUYJxjmGPUISyt94LqfwI+4TzI32A=
  skip_cleanup: true
  file:
    - bin/param-cache-darwin.${TRAVIS_TAG}.tar.gz
    - bin/param-cache-linux.${TRAVIS_TAG}.tar.gz
    - bin/param-cache-windows.${TRAVIS_TAG}.zip
  on:
    repo: VEuPathDB/script-site-param-cache
    tags: true